@tailwind base;
@tailwind components;
@tailwind utilities;

  
.landing-page-bg{
    background-image: url("/public/img/landingPageBG.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:left;
    background-position-y: bottom;
}
.request-page-bg{
    background-image: url("/public/img/requestPageBG.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:left;
    background-position-y: bottom;
}
.provider-page-bg{
    background-image: url("/public/img/ProviderBG.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:left;
    background-position-y: bottom;
}