@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-page-bg {
  background-image: url('/public/img/landingPageBG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
}
.request-page-bg {
  background-image: url('/public/img/requestPageBG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
}
.provider-page-bg {
  background-image: url('/public/img/ProviderBG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
}
.tilt:hover {
  transform: perspective(20em) rotateX(6deg) rotateY(1deg);
  box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
}
